.about-cards {
    row-gap: 4em;
    margin: 2em;
    font-size: 18px;
    animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.5em;
}