.page h1 {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}
.project {
    padding: 1em;
    margin-top: 1em;
   
}
.project h2 {
    text-align: center;
    text-decoration: underline;
}

.project a {
    background-color: white;
    text-decoration: none;
    overflow: none;
}

.smolscreen p {
    font-size: 12px;
}

@media (min-width: 1520px) {
    .page {
        padding: 4em;
    }
    
    
    .wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2em;
        height:min-content;
        margin-top: 2em;
    }

    .gallery {
        display: flex;
        align-items: center;
        column-gap: 10px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        margin-bottom: 1em;
    }

    .gallery_item {
        scroll-snap-align: center;
        min-width: 50%;
    }

    .gallery_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .smolscreen {
        visibility: hidden;
    }
    
/* Old CSS here */
}



@media (min-width:360px) and (max-width: 800px) {
    .page {
        padding: 1em;
    }
    
    
    .wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;    
        margin-top: 1em;
        text-align: center;
    }

    .gallery {
        display: flex;
        align-items: center;
        column-gap: 10px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        margin-bottom: 0.5em;
    }

    .gallery_item {
        scroll-snap-align: center;
        min-width: 100%;
    }

    .gallery_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .smolscreen {
        visibility: visible;
        text-align: center;
        margin-top: -0.75em;
    }
    

}

@media (min-width: 801px) and (max-width: 1519px) {
    .page {
        padding: 1em;
    }
    
    
    .wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 5px;    
        text-align: center;
        padding: 2em;
    }
    
   
    .gallery {
        display: flex;
        align-items: center;
        column-gap: 10px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        
    }

    .gallery_item {
        scroll-snap-align: center;
        min-width: 75%;
    }

    .gallery_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
   
    
    .smolscreen {
        visibility: visible;
        text-align: center;
        margin-top: -0.9em;
    }
    
}

