
.page {
    padding: 4em;
}



h1 {
    text-align: center;
    font-weight: 900;
    font-size: 42px;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em;
    height:min-content;
}

.imgwrap {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;     
}


.project {
    display: flex;
    flex-direction: column;
    align-content: space-between;
   
}

.project h2 {
    text-align: center;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





