@media (min-width: 801px) {
    .toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
        background-image: linear-gradient(black, black), url('glasgow.jpg');
        background-size: cover;
        background-blend-mode: saturation; 
    }
    
    .toolbar h1 {
        background-color: black;
        color: white;
        padding: 5px;
        font-size: 45px;
    
    }
    
    .borger {
        position: absolute;
        z-index: 10;
        right: 1em;
        top: 1em;
    }
    
   

    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width:360px) and (max-width: 800px) {
    .toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.25em;
        background-image: linear-gradient(black, black), url('glasgow.jpg');
        background-size: cover;
        background-blend-mode: saturation; 
    }
    
    .toolbar h1 {
        background-color: black;
        color: white;
        padding: 5px;
        font-size: 30px;
    }
    
    .borger {
        position: absolute;
        z-index: 10;
        right: 0.25em;
        top: 0.25em;
        -moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }
    
    

}